extends ../layouts/common.pug
block content
    
    .container-sm
        a.btn.btn-info.mt-3(href="/news/create") New
        each card in news
            .card.my-3
                .card-body
                    h4.card-title= card.title
                    p.card-text= card.description
                    a.card-link(href='/news/' + card.id) View more
                    a.card-link(href='/news/' + card.id + '/modify') Edit
                    a.card-link(href='/news/:id/delete') Delete