extends ../layouts/common.pug
block content

    .container-sm
        each card in news
            .card.mt-5
                .card-body
                    h4.card-title= card.title
                    p.card-text= card.description
                    a.card-link(href='#') View more