extends ../layouts/common.pug
block content

    .container-sm
        a(href="/news/create") 
            img(src="images/plus_icon.jpg", alt="" width="30px", height="30px")
        each card in news
            .card.mt-5
                .card-body
                    h4.card-title= card.title
                    p.card-text= card.description
                    a.card-link(href='/news/' + card.id) View more
                    a.card-link(href='#') Edit
                    a.card-link(href='#') Delete