extends ../layouts/common.pug
block content
    .container-sm
        .card.mt-5
            .card-body
                h4.card-title COVID 19 NEWS
                p.card-text Some example text. Some example text.
                a.card-link(href='#') View more