h1 Add a news
form(action="/news/create",method="POST")
    label Title of News 
    input(type="text", name="title")
    label Description of News 
    input(type="text", name="description")
    button Create