extends ../layouts/common.pug
block content
    .container
        .form-modify
            h1 Modify form
        form(action="/news/" +news.id+ "/modify", method="POST")
            .title
                label Title
                input(type="text", name="title", style="margin-left: 60px; margin-bottom: 15px;")
            .description
                label Description
                input(type="text", name="description" , style="margin-left: 10px; margin-bottom: 15px;")
            button.btn.btn-primary Done